@import '../../assets/scss/main';

.MobileNavButton,
.MobileNavButtonActive {
  border-radius: 5px;
  border: 0;
  background-color: transparent;
  padding: 0;
  outline: 0;
  height: 2.5rem;
  width: 2.5rem;
  margin-right: 1rem;
}

.MobileNavButton {
  display: block;
  color: #546e7a;

  @include mq-m {
    display: none;
  }
}

.MobileNavButtonActive {
  color: #0000;
}

.MobileNavButtonIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.MobileNavButtonIconPath {
  fill: #000;
}
