@import '../../assets/scss/main';

.MobileNavButton,
.MobileNavButtonActive {
  border-radius: 32px;
  font-size: 18px;
  height: 32px;
  left: 12px;
  top: 8px;
  transition: none;
  width: 32px;
  background: transparent;
  border: none;
}

.MobileNavButton {
  display: block;
  color: #546e7a;

  @include mq-m {
    display: none;
  }
}

.MobileNavButtonActive {
  color: #0000;
}

.MobileNavButtonIcon {
  width: 2.5rem;
  height: 2.5rem;
}

.MobileNavButtonIconPath {
  fill: #000;
}
