html {
  font-size: 62.5%;
  min-height: 100%;
  height: 100%;
  margin: 0;
}

body {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
  background: #ffffff; /*linear-gradient($base-gradient-from, $base-gradient-to); */
  margin: 0;
  overflow: hidden;
}

body {
  height: 100%;
  font-size: 160%;
}

:global #root {
  padding: 8px;
  display: flex;
  flex: 1;
  height: 100%;
  flex-direction: column;
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
}

ul {
  padding: 0;
}
