$label-default-color: #fff;

html {
  height: 100%;
  font-size: 100%;
}

body {
  height: 100%;
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
  background-color: #000;
  color: #fff;
}

:global #root {
  border: 1px solid green;
}

.parent{
  border: 1px solid red;
  background: grey;
  color: white;
  font-weight: bold;
  width: 100%;
}

.child {
  border: 1px solid blue;
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
}
