$label-default-color: #fff;

html {
}

body {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
  background-color: #000;
  color: #fff;
  max-width: 1200px;
}

:global #root {
  border: 1px solid green;
}

.parent{
  border: 1px solid red;
  background: grey;
  color: white;
  font-weight: bold;
}

.child {
  border: 1px solid blue;
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
}
