node_modules
.cache
/server/.cache
/server/index.js*
/server/blog-posts
/server/package*.json
/server/*.arc
/server/metafile.*
/public/build
/server/metafile.*
/server/index.mjs
/build/metafile.*
/build/index.mjs
/server/version.txt
/build/version.txt
server/version.txt
preferences.arc
sam.json
sam.yaml
.env
.env*
*.map
.DS_Store