@import '../../assets/scss/main';

.container {
  h2 {
    @include mb(4);
  }
  display: flex;
  flex: 1;
  flex-direction: column;
}

.icon {
  width: 50px;
}

.repos {
  display: block;

  @include mq-s {
    display: flex;
    flex-flow: wrap;
  }
}

.repo {
  @include mq-s {
    flex: 1 0 47%;
    @include mr(1);
  }

  @include mq-m {
    flex: 1 0 21%;
    @include mr(1);
  }
  a {
    display: inline-block;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(51, 51, 51);
    border-image: initial;
    overflow: auto;
    transition: all 0.2s ease;
    padding: 20px;
    height: 270px;
    $color: $main-color;
    width: 100%;

    &:hover {
      border-color: $main-color;
    }
  }

  &:focus {
    @include accessible-outline;
  }

  a div {
    background-color: inherit;
  }
}


.community__list {
  li {
    display: block;
  }
}
