$label-default-color: #fff;

@import '../src/styles/_index.scss';
.wrap {
  display: block;
  @include pl(2);
  @include pr(2);

  max-width: 1008px;
  margin: 0 auto;
}

.layout {
  display: flex;
  flex: 1;
  text-align: left;
  flex-flow: row wrap;
}

.item {
  display: block;
  @include pl(1);
  flex: auto;
  
  @include mq-m {
    flex: 1;
    display: inline-block;
  }
  
  @include mq-l {
    @include pl(2);
  }
}
