@import '../../../styles/index';

.input {
  display: flex;

  &.vertical {
    flex-direction: column;
    justify-content: flex-start;
  }

  &.horizontal {
    flex: 1;
    flex-wrap: wrap;
    align-items: center;

    .wrapper {
      flex: 1;
    }

    label {
      @include mr(1);
    }

    [role='alert'] {
      width: 100%;
    }
  }

  label {
    @include mb(1);

    @include mq-s {
      @include mb(2);
    }

    font-weight: normal;

    &.strong {
      font-weight: bold;
    }

    &.invalid {
      display: inline-block;
    }
  }

  @include mq-s {
    @include mb(2);
  }
}

.wrapper {
  position: relative;
}

.invalid {
  display: inline-block;
}

.highlight {
  @include highlight;
}

.label__additional {
  @include ml(1);
}
