@import '../../../styles/index';

@mixin btn-primary {
  border: 1px solid $btn-primary-border;
  background-color: $btn-primary-bg;
  color: $btn-primary-color;
}

@mixin btn-secondary {
  border: 1px solid $btn-secondary-border;
  background-color: $btn-secondary-bg;
  color: $btn-secondary-color;
}

.default {
  @include responsive-font;
  height: auto;
  text-transform: uppercase;
  padding: 14px 22px;
  line-height: 28px;
  font-weight: bold;
  cursor: pointer;
  display: table;
  touch-action: manipulation;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  border-radius: 0;

  &:focus,
  &:hover {
    &:not(.disabled) {
      outline: 3px solid $element-focus-color;
    }
  }

  width: 100%;
}

.default.inverse {
  background: $white;
  color: $black;
  border: 1px solid $black;
}

.disabled {
  background-color: $btn-disabled-bg;
  color: $btn-disabled-color;
  border: 1px solid $btn-disabled-bg;
}

.primary {
  @include btn-primary;

  &:hover,
  &:focus {
    @include btn-secondary;
  }

  &.disabled {
    background-color: $btn-primary-disabled-bg;
    border: 1px solid $btn-primary-disabled-border;
    color: $btn-primary-disabled-color;
  }
}

.secondary {
  @include btn-secondary;

  width: 100%;

  &:hover,
  &:focus {
    @include btn-primary;
  }

  &.disabled {
    background-color: $btn-secondary-disabled-bg;
    border: 1px solid $btn-secondary-disabled-border;
    color: $btn-secondary-disabled-color;
  }
}

.nav,
.inverse {
  padding-right: 0;

  &:focus {
    background-color: $btn-nav-focus-bg;
    @include outline(2px, $element-focus-color, $btn-nav-focus-bg);
  }

  &:hover {
    background-color: $btn-nav-focus-bg;
    color: $btn-nav-focus-color;
    border: 1px solid $btn-nav-focus-border;
  }
}

.warning {
  background-color: $btn-warning-bg;
  border: 1px solid $btn-warning-border;
  color: $btn-warning-color;
}

