@import '../../../assets/scss/main';

path {
  fill: $white;
}

.container {
  &:after {
    content: '';
    display: table;
    clear: both;
  }

  ul {
    li {
      display: inline-block;
      vertical-align: middle;
    }

    li a {
      padding-left: 1rem;
    }
  }
}
