@import '../../../assets/scss/main';

path {
  fill: $main-color;
}

.container {
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  ul {
    margin-bottom: 0;
  }

  ul li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 20px;

    a {
      position: relative;
      top: 5px;

      &:hover {
        color: $main-color;
      }
    }
  }
}

ul li.logo__container {
  width: 100px;

  @include mq-m {
    width: 150px;
  }

  display: inline-block;
  margin-right: 0;
  margin-left: -19px;

  svg {
    width: 100%;
    height: auto;
  }

  a {
    display: inline-block;
    @include mr(1);

    &:focus {
      svg {
        background: $link-focus-color;
      }
    }
  }
}
