@import 'main';

@font-face {
  font-family: 'GeosansLight';
  src: url('../fonts/GeosansLight/GeosansLight.ttf');
}


:global body {
  font-family: 'GeosansLight' !important;
  background-color: $base-bg-color;
  font-size: 19px;

  &.covid {
    h1 {
      margin-top: -20px;
      font-size: 2rem;
      @include mb(2);
    }

    svg:first-of-type{
      @include mb(2);
    }

    footer {
      display: none;
    }
  }
  
  &:not(.covid){
    background: url(../images/lightening.jpg) no-repeat center center fixed; 
    background-size: cover;
  }

  a {
    color: $link-color;
    text-decoration: none;
  }
}

:global header {
  @include pl(1);
  
  
  @include mq-l {
    padding-left: inherit;
  }
}


h1 {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff,
    0 0 75px #ffffff;
}
