@import 'main';

html {
  overflow-y: scroll;
}

:global body {
  background-color: $base-bg-color;

  &.covid {
    h1 {
      margin-top: -20px;
      font-size: 2rem;
      @include mb(2);
    }

    svg:first-of-type{
      @include mb(2);
    }

    footer {
      display: none;
    }
  }
  
  &:not(.covid){
    background: url(../images/lightening.jpg) no-repeat center center fixed; 
    background-size: cover;
  }
}

header {
  @include pl(1);
  
  
  @include mq-l {
    padding-left: inherit;
  }
}
