@import 'main';

@font-face {
  font-family: 'GeosansLight';
  src: url('../fonts/GeosansLight/GeosansLight.ttf');
}

*,
*:before,
*:after {
  box-sizing: border-box !important;
}

html {
  font-family: 'GeosansLight';
  font-size: 62.5%;
  overflow-y: scroll;
  min-height: 100%;
  height: 100%;
}

html,
body {
  color: $main-color;
  line-height: 1.5;
  font-weight: 400;
}

:global body {
  height: 100%;
  margin: 0;
  font-size: 190%;
  background-color: $main-bg-color;

  &.covid {
    h1 {
      margin-top: -20px;
      font-size: 2rem;
      @include mb(2);
    }

    svg:first-of-type{
      @include mb(2);
    }

    footer {
      display: none;
    }
  }
  
  &:not(.covid){
    background-image: url(../images/lightening.jpg);
    background-repeat: no-repeat;
    background-position:35%;
  }

  @include mq-l {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
  }

  @include mq-l {
    font-size: 190%;
  }
}

ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: $link-color;
  text-decoration: none;
}

a,
button {
  &:hover {
    color: $main-color;
  }

  &:focus, &:focus h2 {
    @include accessible-outline;
    color: $black;
    outline: none;
  }
}

header {
  @include pl(1);
  
  
  @include mq-l {
    padding-left: inherit;
  }
}

:global #root {
  height: 100%;
  margin: 0 auto;
  max-width: $desktop-max-width !important;
  display: flex;
  flex-direction: column;

  @include px(2);

  @include mq-l {
    @include px(2);
  }

  > div {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
}
