@import '../../assets/scss/main';

.container {
  flex: 1;
  overflow: hidden;
  svg {
    display: block;
  }
}

.legend {
  margin-bottom: 2rem;
}

.links {
  display: flex;
  margin-top: 0;

  li {
    margin-right: 1rem;

    a {
      text-decoration: underline;

      &.active {
        color: $active-nav-link-color
      }
    }
  }
}