@import '../../assets/scss/main';

$stroke-color: $white;
$stroke-width: 2;

.main {
  flex: 1;
  border: 1px solid red;
}

.main circle, .hypotenuse, .opposite, .adjacent, .joining-line {
  stroke: $stroke-color;
  stroke-width: $stroke-width;
}

.unit-cirle, .dot, .axis-dot, .vertical-guide {
  fill-opacity: 0.1;
}
