@import '../../assets/scss/main';

$stroke-color: $white;
$stroke-width: 2;

.main {
  flex: 1;
}

.main circle, .hypotenuse, .opposite, .adjacent, .joining-line, .axis-line, .sine, .ray {
  stroke: $stroke-color;
  stroke-width: $stroke-width;
}

.main circle {
  &:not(.unit-circle) {
    fill: $stroke-color;
  }
}

.ray {
  stroke-opacity: 0.5;
}

.axis {
  stroke: $stroke-color;
}

.unit-cirle {
  fill-opacity: 0;
}

.sine {
  fill: none;
}