@import '../../assets/scss/main';


.container {
  border: 1px solid green;
  
  svg {
    border: 1px solid red;
  }
}

.error {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}