@import '../../assets/scss/main';

path {
  fill: $main-color;
}

.container {
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff,
      0 0 75px #ffffff;
  }

  ul {
    margin-bottom: 0;
  }

  ul li {
    display: inline-block;
    vertical-align: middle;

    @include mr(1);

    @include mq-m {
      &:not(.mobile__button__container) {
        margin-right: 20px;
      }
    }

    .mobile__button__container {
      @include ml(1);
    }

    a {
      position: relative;
      top: 5px;

      &:hover {
        color: $main-color;
      }
    }
  }
}

ul li.logo__container {
  width: 100px;

  @include mq-m {
    width: 150px;
  }

  display: inline-block;
  margin-right: 0;
  margin-left: -19px;

  svg {
    width: 100%;
    height: auto;
  }

  a {
    display: inline-block;
    @include mr(1);

    &:focus {
      svg {
        background: $link-focus-color;
      }
    }
  }
}

.active {
  color: $white;
}

.expandable {
  display: none;
  position: absolute;
  top: 8rem;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: $black;
  z-index: 10;
  padding: 1rem;
}

.mobile__button__container {
  display: inline-flex;
  justify-content: flex-end;
}

@media (max-width: 37.5rem) {
  .expandable.expanded {
    display: block;

    ul li.horizontal {
      display: block;
    }
  }

  ul li.horizontal {
    display: none;
  }
}
