@import '../../assets/scss/main';

path {
  fill: $base-color;
}

.full {
  display: flex;
  justify-content: center;
}

.container {
  h2 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff, 0 0 55px #ffffff,
      0 0 75px #ffffff;
  }

  ul {
    margin-bottom: 0;
  }

  ul li {
    display: inline-block;
    vertical-align: middle;
    position: relative;

    &:not(.mobile__button__container):not(:last-of-type) {
      @include mq-m {
        @include mr(3);
      }
    }

    a {
      position: relative;
      top: 5px;

      &:hover {
        color: $base-color;
      }
    }

    h2 a {
      top: 0;
    }
  }

  div:not(.expanded):not(.contact) ul li {
    @include mr(1);
    
    @include mq-l {
      @include mr(2);
    }
  }
}

ul li.logo__container {
  width: 75px;

  @include mq-m {
    width: 100px;
  }

  display: inline-block;
  margin-right: 0;
  margin-left: -19px;

  &.selected{
    width: 100%;
    border: 1px solid $error-red;
  }

  svg {
    width: 100%;
    height: auto;
  }

  a {
    display: inline-block;
    @include mr(1);

    &:focus {
      svg {
        background: $link-focus-color;
      }
    }
  }
}

.active {
  color: $active-nav-link-color;
}

.name {
  color: inherit;
}

.expandable {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  background-color: $black;
  z-index: 10;
  padding: 1rem;
}

.mobile__button__container {  

    vertical-align: middle;
  svg {
    margin-bottom: 0;
  }
}

.expandable.expanded {
  display: block;

  @include py(2);

  ul li {
    border: 1px solid #fff;
    @include pt(1);
    @include pb(2);
    @include mb(1);
    @include pl(1);
    color: #fff;
  }

  ul li.horizontal {
    display: block;
    &:hover {
      color: $black;
      background-color: $white;
    }
    a {
      &:hover {
        color: $black;
      }

      display: block;
    }
  }

}

ul li.horizontal:not(.contact) {
    display: none;

  @include mq-m {
    display: inline;
  }
}

ul li.menu__mobile__button__container {
  vertical-align: middle;
  @include ml(1);
  @include mr(2);
}

ul li.horizontal.expanded {
  display: block;
  
  a {
    width: 100%;
    display: inline-block;
  }
}



ul li.horizontal.mobile.close__button{
  display: flex;
  justify-content: flex-end;
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: $spacing-x2;
    border-radius: 32px;
    background: #fff;
    color: #141414;
    font-size: 18px;
    height: 32px;
    left: 12px;
    top: 8px;
    transition: none;
    width: 32px;
    
    &:before {
      position: absolute;
      -webkit-transform: translate(-50%, -50%);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-font-smoothing: antialiased;
      font-family: "icomoon";
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1;
      text-indent: 0;
      text-transform: none;
    }
  }
}

.contact a {
  background-color: #FF8B45;
  color: #ffffff;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  padding: .5rem;
  
  @include mq-m {
    top: 0 !important;
    font-size: 2rem;
    padding: 1rem 2rem;
  }
}

.no-mobile {
  display: none !important;

  @include mq-m{
    display: inline;
  }
}