@import '../../../styles/_index.scss';

.dialog {
  border: 1px solid $modal-border-color;
  z-index: 100;
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;

  &.open {
    display: flex;
    flex-direction: column;
  }
}

.description {
  @include sr-only;
}

.heading,
.footer {
  background: $modal-header-bg;
  color: $modal-header-color;

  display: flex;
  justify-content: center;
  align-content: center;

  h2 {
    color: inherit;
  }
}

.heading {
  button {
    background: transparent;
    width: 63px;
    border-radius: 50%;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;

    right: 0;
    @include ml(4);
  }
}

.body {
  flex: 1 1 auto;
}
