@import '../assets/sass/settings/_colors.scss';

@font-face {
  font-family: 'GeosansLight';
  src: url('../assets/fonts/GeosansLight/GeosansLight.ttf');
}

html {
  height: 100%;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: 'GeosansLight';
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html,
body {
  background-color: $color__black;
  color: $color__white;
}

body {
  text-rendering: optimizeLegibility;
  font-size: 1.6rem;
}

a {
  color: inherit;
}
