@import '../assets/scss/main';

@font-face {
  font-family: 'GeosansLight';
  src: url('../assets/fonts/GeosansLight/GeosansLight.ttf');
}

html {
  font-family: 'GeosansLight';
  font-size: 62.5%;
  overflow-y: scroll;
  position: relative;
  min-height: 100%;
}

html,
body {
  background-color: $black;
  color: $white;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  font-size: 190%;
  padding-bottom: 150px;

  @include mq-l {
    font-size: 190%;
  }
}

ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

a {
  color: inherit;

  &:focus {
    @include accessible-outline;
    color: $black;
  }
}

:global .wrapper {
  margin: 0 auto;
  max-width: $desktop-max-width;
}
