/* break points */
$screen-small-min: 30rem !default;
$screen-medium-min: 48rem !default;
$screen-large-min: 62rem !default;
$screen-xlarge-min: 80rem !default;

$form-element-height: 2.5rem !default;

/* be consistent with spacing to avoid random pixel adding. */
$scale: 0.5, 1, 2, 3 ;
$font-size: 1, 1.1875;
