$mobile: 30rem !default;
$tablet: 48rem !default;
$desktop: 62rem !default;
$widescreen: 80rem !default;

$form-element-height: 2.5rem !default;

$scale: 0.5, 1, 2, 3 !default;
$font-size: 1, 1.1875 !default;

$base-font-family: Helvetica, Arial, sans-serif !default;
$base-line-height: 1.5 !default;