@import '../../assets/scss/main';

.container {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  svg {
    display: block;
  }
}

.links {
  display: none;

  @include mq-m{
    display: flex;
  }
  margin-top: 0;
  margin-bottom: 1rem;

  li {
    margin-right: 1rem;
    
    a {
      &:not(.active) {
        text-decoration: underline;
      }

      &.active {
        color: $active-nav-link-color
      }
    }
  }
}

.legend {
  @include ml(2);
}

.chart {
  flex: 1;
}