@import '../../assets/scss/main';

footer {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  font-size: 14px;
  @include mb(2);

  @include mq-m {
    margin-bottom: 0 !important;
    flex-direction: row;
    font-size: 19px;
  }
}

.left {
  @include mq-m {
    flex: 0 0 33.333%;
  }
  
  display: flex;
  flex-direction: column;


  @include mq-m {
    flex-direction: row;
  }
}

.right {
  @include mq-m {
    flex: 0 0 66.6666%;
  }
}

.logo__container {
  width: 40px;
  display: inline-block;
  vertical-align: middle;

  svg {
    width: 100%;
    height: auto;
  }

  > div {
    margin-top: -5px;
  }

  .links {
    text-align: center;
  }
}

.name {
  display: inline-block;
  margin-left: 5px;
}

.links {
  margin-top: 0;
  padding-top: 0;
}

.logo,
.links {
  flex: 0 0 50%;
  text-align: center;

  @include mq-m {
    text-align: left;
  }
}

.links{
  margin-top: 1px;
}

.contact {
  text-align: center;

  @include mq-m {
    text-align: right;
  }
}

.social {
  display: inline-block;
  vertical-align: top;

  li {
    display: inline-block;
    @include mr(2);
    @include pr(2);
    border-right: 1px solid #333;
    height: 20px;
    line-height: 21px;

    a {
      display: inline-block;
      width: 20px;
    }

    svg {
      width: 100%;
      height: auto;
    }
  }
}

.email {
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -3px;
}

.copyright {
  margin-top: -15px;
}
