@import '../../../styles/index';

.container {
  &:after {
    content: '▼';
    padding: 12px 8px;
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
    text-align: center;
    width: 10%;
    height: 100%;
    pointer-events: none;
  }
}

.default {
  border: 1px solid $input-border-color;
  border-radius: 0;
  height: 42px;
  appearance: none;

  @include form-control;

  &::-ms-expand {
    display: none;
  }

  &:focus {
    background: $input-bg-focus;
    border: 2px solid $input-border-color-focus;
    @include visible-focus;
  }
}

.invalid {
  @include outline(2px, $label-error-color);
}
