$label-default-color: #fff;

@import '@cutting/component-library/src/styles/_index.scss';
:global #root {
  border: 1px solid green;
}


.container {
  border: 1px solid yellow;
  background: grey;
  color: white;
  font-weight: bold;
  overflow: hidden;
  resize: auto;
  width: 50%;
  height: 50%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

svg {
  border: 1px solid royalblue;
}
