$margin-x-rules: "margin-left", "margin-right";
$margin-y-rules: "margin-top", "margin-bottom";
$margin-l-rules: "margin-left";
$margin-r-rules: "margin-right";
$margin-b-rules: "margin-bottom";
$margin-t-rules: "margin-top";
$padding-x-rules: "padding-left", "padding-right";
$padding-y-rules: "padding-top", "padding-bottom";
$padding-l-rules: "padding-left";
$padding-r-rules: "padding-right";
$padding-b-rules: "padding-bottom";
$padding-t-rules: "padding-top";

/* TODO: should we add ability for em, rem etc.? */
@mixin add-space-rule($rules, $space) {
  @each $rule in $rules {
    #{$rule}: #{nth($scale, $space)}px;
  }
}

@mixin margin-x($space) {
  @include add-space-rule($margin-x-rules, $space);
}

@mixin margin-y($space) {
  @include add-space-rule($margin-y-rules, $space);
}

@mixin margin-l($space) {
  @include add-space-rule($margin-l-rules, $space);
}

@mixin margin-r($space) {
  @include add-space-rule($margin-r-rules, $space);
}

@mixin margin-t($space) {
  @include add-space-rule($margin-t-rules, $space);
}

@mixin margin-b($space) {
  @include add-space-rule($margin-b-rules, $space);
}

@mixin padding-x($space) {
  @include add-space-rule($padding-x-rules, $space);
}

@mixin padding-y($space) {
  @include add-space-rule($padding-y-rules, $space);
}

@mixin padding-t($space) {
  @include add-space-rule($padding-t-rules, $space);
}

@mixin padding-t($space) {
  @include add-space-rule($padding-t-rules, $space);
}

@mixin padding-l($space) {
  @include add-space-rule($padding-l-rules, $space);
}

@mixin padding-r($space) {
  @include add-space-rule($padding-r-rules, $space);
}

@mixin padding-b($space) {
  @include add-space-rule($padding-b-rules, $space);
}

@mixin responsive-margin-top($sizes: (1, 2, 3, 4)) {
  @include margin-t(1);

  @include mq-small {
    @include margin-t(nth($sizes, 1));
  }

  @include mq-medium {
    @include margin-t(nth($sizes, 2));
  }

  @include mq-large {
    @include margin-t(nth($sizes, 3));
  }


  @include mq-xlarge {
    @include margin-t(nth($sizes, 3));
  }
}

@mixin responsive-margin-bottom($sizes: (1, 2, 3, 4)) {
  @include margin-b(1);

  @include mq-small {
    @include margin-b(nth($sizes, 1));
  }

  @include mq-medium {
    @include margin-b(nth($sizes, 2));
  }

  @include mq-large {
    @include margin-b(nth($sizes, 3));
  }

  @include mq-xlarge {
    @include margin-b(nth($sizes, 4));
  }
}


@mixin font($size) {
  font-size: #{nth($font-size, $size)}px;
}

@mixin responsive-font {
  @include font(1);

  @include mq-medium {
    @include font(2);
  }
}

@mixin elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
