@import '../../../styles/index';

*,
*:before,
*:after {
  box-sizing: border-box !important;
}

html {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  text-size-adjust: 100%;
}

body {
  font-weight: 400;
  margin: 0;
  font-family: $base-font-family;
  background-color: $base-bg-color;
  color: $base-color;
  line-height: $base-line-height;
}

.hidden {
  display: none !important;
}

:global #root {
  height: 100%;
  margin: 0 auto;
  max-width: $desktop !important;
  display: flex;
  flex-direction: column;

  @include px(2);
}

main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 0;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }
}

a,
button {
  &:hover {
    color: $base-color;
  }

  &:focus, &:focus h2 {
    @include accessible-outline;
    color: $black;
    outline: none;
  }
}


ul {
  margin-top: 0;
  padding-left: 0;
  list-style: none;
}

a {
  text-decoration: none;
}