@import '../../../styles/_index.scss';

input[type='text'],
input[type='number'],
input[type='password'] {
  &.default {
    border: 1px solid $input-border-color;

    &:focus {
      background: $input-bg-focus;
      border: 2px solid $input-border-color-focus;
      @include visible-focus;
    }

    @include form-control;
  }

  &.invalid {
    background: $input-error-bg;
    border: 2px solid $error-red;

    &:focus {
      border-color: $input-border-color-focus;
    }
  }
}
